doctype html
html
	head
		link(rel='stylesheet' href='./style.css')
	body
		h1.size1 size1
		h1.size2 size2

		h1.color color
		h1.color-reverse color-reverse

		h1.opacity opacity
		h1.box.text-overflow.color-reverse this is very long text this is very long text this is very long text

		h1.box.color-reverse.line-limit-1 line-limit-1 line-limit-1 line-limit-1
		h1.box.color-reverse.line-limit-2 line-limit-2 line-limit-2 line-limit-2 line-limit-2 line-limit-2 line-limit-2
