@import "../mixin/all";

* {
	margin: 0;
	padding: 0;
}

.box {
	width: 400px;
	margin: 50px 0;
}

.clearfix {
	.clearfix;
}

.size1 {
	.font-size(30px, 1);
}

.size2 {
	.font-size(30px, 2);
}

.color {
	.color;
}

.color-reverse {
	.color-reverse;
}

.opacity {
	.opacity(0.5);
}

.text-overflow {
	.text-overflow;
}

.line-limit-1 {
	.line-limit(1em);
}

.line-limit-2 {
	.line-limit(1em, 2);
}
